html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin-top: 10vh;
    width: max-content;
    color: white;
    background-color: rgb(31, 31, 31);
    font-family: 'Questrial',sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}

#start-play {
    margin: 1em;
    padding: 2em;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    top: 50%;
    // right: 50%;
    // transform: translate(50%, 50%);
    width: 25em;
    justify-content: center;
    position: absolute;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    animation: start 3.5s steps(30, end);
    
    p {
        position: sticky;

    }
    .play-button {

    }

}

.play-button:hover {
    // animation: 
}
@keyframes snap {
    0% {
        // transform: translateX(0px) ;
    }
    
}

@keyframes start {
    from {
        width: 0%;
    }

    to {
        width: 45%;
    }
}