html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin-top: 10vh;
    width: max-content;
    color: white;
    background-color: rgb(31, 31, 31);
    font-family: 'Questrial',sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}

#start-play {
    margin: 1em;
    padding: 1.5em;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    top: 55%;
    left: 22.5%;
    width: 22em;
    height: 10%;
    position: fixed;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0em;
    animation: start 2s steps(30, end);
    
    p {
        position: sticky;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
    }
    
    .one {
        animation: start 2s steps(30, end);
        visibility: unset;
        animation-fill-mode: forwards;
    }

    .two {
        animation: start 2s steps(30, end);
        animation-delay: 1.5s;
        visibility: unset;
        animation-fill-mode: forwards;
    }

    .three {
        animation: start 2s steps(30, end);
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
    }

    .four {

        opacity: unset;
    }

    .play-button {

    }

}

.play-button:hover {
}
@keyframes snap {
    0% {
        transform: translateX(0px) ;
    }
}

@keyframes start {
    from {
        width: 0%;
        opacity: unset;
    }

    to {
        width: 22em;
        opacity: unset;
    }
}