html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin-top: 10vh;
    width: max-content;
    color: white;
    background-color: rgb(31, 31, 31);
    // font-family: 'Questrial',sans-serif;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
    font-size: 30px;
}

a.play-button {
    // opacity: unset;
    // position: absolute;
    transform: translate(0, 7em);
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.play-button:hover span:nth-child(1) {
    margin-right: 5px
}

a.play-button:hover span:nth-child(1):after {
    content: "'";
}

a.play-button:hover span:nth-child(2) {
    margin-left: 30px
}

a.play-button:hover {
    // transform: translate(3.3em, 5em);
    color: #fff;
    text-shadow: 0 0 10px rgb(230, 199, 100),
                 0 0 20px #fff,
                 0 0 40px #fff;
}

#start-play {
    margin: 1em;
    padding: 2em;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    transform: translate(5.2em, 25em);
    width: 22em;
    height: 6.5%;
    position: fixed;
    color: black;
    display: flex;
    flex-direction: column;
    animation: start 2s steps(30, end);
    
    p {
        position: sticky;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        font-size: 14px;
    }

    // automated text with class name elementn and id textline
    $numberOfElements: 3;
    $animationDuration: 2s;
    $animationSteps: 30;
    $animationDelayIncrement: 1.5s;

    @for $i from 1 through $numberOfElements {
        $animationDelay: ($i - 1) * $animationDelayIncrement;
        $className: unquote('.element#{$i}');

            p#textline#{$className} {
            animation: start #{$animationDuration} steps(#{$animationSteps}, end);
            animation-delay: #{$animationDelay};
            visibility: unset;
            animation-fill-mode: forwards;
        }
    }
}

.play-button:hover {
}
@keyframes snap {
    0% {
        transform: translateX(0px) ;
    }
}

@keyframes start {
    from {
        width: 0%;
        opacity: unset;
    }

    to {
        width: 22em;
        opacity: unset;
    }
}