canvas {
    border-radius: 5px;
    border: 1px solid white;
    background-image: url(../assets/images/map/cloudz.gif);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated, crisp-edges;
}

