canvas {
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(159, 244, 255);
    // image-rendering: -moz-crisp-edges;
    // image-rendering: -webkit-crisp-edges;
    // image-rendering: pixelated;
    // image-rendering: crisp-edges;
}

