footer {
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

div.social-footer {
    height: 3em;
    font-size: large;

    h1 {
        font-size: 16px;
        // color: white;
    }

    h2 {
        font-size: 12px;
    }
}

.directions {
    color: white;
}